h1 {
    text-align: center;
    color: white;
}
body{
    background-image: url( https://png.pngtree.com/thumb_back/fw800/background/20201013/pngtree-gameover-electric-sound-wind-psychedelic-video-game-ending-background-image-image_414150.jpg );
}
h2, h4 {
    text-align: center;
    color: white;

}
a {
   text-decoration: none;
   color: white;
}

a:hover {
    text-decoration: none;
    color: white;
 }

.banner-home {
    position: absolute;
 left:50%;
 transform: translateX(-25%);

}
